# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List of most commonly used libraries used by Data Scientists
3. Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. scikit-learn
4. Openpyxl
5. Numpy
6. Scipy

| Data Science Tools| 
|:--------:|
|  Jupyter Notebook   | 
|  Apache Zeppelin   | 
|  Spyder    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
Mins = 200
Hours = Mins / 60
("Number of Hours ",Hours)

('Number of Hours ', 3.3333333333333335)

## Author 
Albara' Sabbagh